#content {
    padding: 12pt 18pt;
}

.card {
    margin: 3pt 0;
}

.catalog-card .card-body {
    display: flex;
    flex-direction: column;
}

.catalog-card .card-title {
    display: flex;
    justify-content: space-between;
}

.catalog-card .btn-group {
    align-self: flex-end;
}